rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() && 
        (request.auth.token.email == "workineuhr@gmail.com");
    }

    match /site-assets/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /branding/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /team/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /diary/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /jobs/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /applications/{allPaths=**} {
      allow read: if isAdmin();
      allow write: if true;
    }
  }
}
